@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Source+Code+Pro&display=swap');

body {
	background-color: #000;
	color: #eee;
}
pre {
	padding: 10px;
	border-radius: 5px;
	-moz-tab-size: 4;
  tab-size: 4;
}
code {
	padding: 3px;
	margin: 3px, 3px;
	border-radius: 3px;
}
pre, code {
	background-color: #222;
	font-family: 'Source Code Pro', monospace;
}
a {
	color: #eee;
	font-style: italic;
}
.no-select {
	user-select: none;
}
.content {
	font-size: 16pt;
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
	width: min(700px, 95%);
	margin: auto;
}
.invtab {
	margin: auto;
}
.invtab, .invtab th, .invtab td {
	border: 0;
	border-collapse: collapse;
	font-size: 15pt;
}
.invtab th, .invtab td {
	padding: 10px;
}

/*
	td, h1, #b {
		text-align: center;
	}
*/

html, body, #a {
	margin:  0;
	padding: 0;
	height:  100%;
	width:   100%;
}
#a {
	display: table;
}
#b {
	display: table-cell;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

