<head>
	<title>
		fromic1
	</title>
	<style>
		body {
			background-color: #324;
			font-family: sans-serif;
			font-size: 50px;
		}
		table {
			margin: auto;
		}
		h1 {
			text-align: center;
			color: #fff;
			font-size: 3em;
		}
	</style>
</head>

<body>
	<table>

		<tr>
			<td colspan="3">
				<h1>
					<b>fromic1</b>
				</h1>
			</td>
		</tr>

		<tr>
			<td>
				<img src="1.1.png" />
			</td>
			<td>
				<img src="1.2.png" />
			</td>
			<td>
				<img src="1.3.png" />
			</td>
		</tr>

		<tr>
			<td>
				<img src="1.4.png" />
			</td>
			<td>
				<img src="1.5.png" />
			</td>
			<td>
				<img src="1.1.png" />
			</td>
		</tr>

		<tr> <td colspan="3">
			<img
				src="1.7.png"
				style="margin: auto; display: block"
			/>
		</td> </tr>

	</table>
</body>
