<title>?</title><style>.ns{display:none;}.ns:target{display:block;}a{color:white;}</style><body style="background:black;color:white;font-family:sans-serif;margin:0;padding:0;height:100%;width:100%;"><div style="margin:0;padding:0;height:100%;width:100%;display:table;"><div style="text-align:center;display:table-cell;margin:0;padding:0;vertical-align:middle;"><div style="margin:auto;"><a href="#1">?</a>

<a id="1" href="#2" class="ns">How familiar are you with Havas?</a>
<a id="2" href="#3" class="ns">Nice place, it was. Genuinely peaceful, for a change.</a>
<a id="3" href="#4" class="ns">...</a>
<a id="4" href="#5" class="ns"><img src="./wind.gif" style="width:500px;display:block;margin:20px auto;" />
	Do you see that light, over there?</a>
<a id="5" href="#6" class="ns">We didn't.</a>
<a id="6" href="#7" class="ns">So, you know. If you go looking for the place, don't expect anything more than an amber desert.</a>
<a id="7" href="#8" class="ns">... Unless, that's what you're looking for.</a>
<a id="8" href="./doa.html" class="ns"><b>Is it?</b></a>

</div></div></div></body>
